debug: true
logging:
  level:
    org.springframework.web: DEBUG
    com.github.binarywang.demo.wx.miniapp: DEBUG

wechat:
  miniapp:
    appid: 111
    secret: 111
    token: 111
    aesKey: 111
    msgDataFormat: JSON
